#phone{
	font-size: 26px;
	padding-left:50px;
	margin:15px 0;
	cursor:pointer;
	color:#f00;
	}
#menu{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    border-top:3px solid red;
}
#menu>.nav{
    width:76%;
    list-style:none;
}
.nav li{
    height:146px;
}
.nav li a{
    text-decoration:none;
    color:#212529;
    font-size:18px;
    padding:0 40px;
    line-height:140px;
}
.nav li:not(:nth-child(5)):hover{
    background-color:#ff6f61;
    color:#fff;
}
#menu>#logo{
    list-style:none;
}
.habit-1{
    width:100%;
    height:460px;
    background:url(../images/titbg02.jpg);
}
.habit-2{
    width:100%;
    padding-top:50px;
}
.habit-2 ul{
    display:flex;
	flex-direction:row;
	justify-content:space-around;
    list-style: none;
}
.habit-2 ul li{
    height:80px;
    width:200px;
    padding:10px;
    background-color: white;
    color:#FF6F61;
    text-align: center;
    line-height: 60px;
    font-size:20px;
    border-radius: 5px;
    cursor:pointer;
}
.habit-2 ul li:hover{
    background-color: #FF6F61;
    color:white;
    cursor:pointer;
}
.habit-3{
    height:250px;
    width:600px;
    border:1px solid white;
    margin:0 auto;
    margin-top:40px;
}
.habit-3-1{
    height:220px;
    width:570px;
    border:4px solid white;
    margin:0 auto;
    margin-top:15px;
}
.habit-3-1 h1{
    margin-top: 30px;
    text-align: center;
    color:white;
}
.habit-3-1 h3{
    margin-top: 30px;
    text-align: center;
    color:white;
}
.habit-3-1 p{
    margin-top: 30px;
    text-align: center;
    color:white;
    font-size: 20px;
}
#lunbo{
    position:relative;
    cursor:pointer;
}
#lunbo>#zuo img{
    position:absolute;
    top:50%;
    left:30px;
    padding:10px;
    border-radius:5px;
    background-color:rgba(0,0,0,0.1);
    cursor:pointer;
}
#lunbo>#you img{
    position:absolute;
    top:50%;
    right:30px;
    padding:10px;
    border-radius:5px;
    background-color:rgba(0,0,0,0.2);
    cursor:pointer;
}
.yangpian{
    width:100%;
    height:60px;
}
.yangpian b{
    margin-left:200px;
    font-size: 35px;
    color:#FF6F61;
    font-family: "华文行楷"
}
.yangpian span{
    padding-top:55px;
} 
.yangpian1{
    width:100%;
}
.yangpian1-1{
    width:80%;
    margin:0 auto;
}
.yangpian1-1 ul{
    display:flex;
	flex-direction:row;
	justify-content:space-around;
    list-style: none;
    padding:0;
}
.yangpian1-1 ul li{
    width:496px;
    height:310px;
    border:1px solid #cccccc;
    background-color: rgba(0,0,0,0.2);
    cursor:pointer;
    overflow: hidden;
    border-radius: 10px;
}
.yangpian1-1 ul li img{
    width:496px;
    height:310px;
    Transition-duration:1s;
    Transition-timing-function:linear;
}
.yangpian1-1 ul li img:hover{
    transform:scale(1.1);
}
.page-item.active .page-link{
    color: #fff;
    background-color: #FF6F61;
    border:1px solid #FF6F61;
}
.page-link{
    color:#FF6F61;
    background-color: #e6e6e5;
    border-radius: 5px;
    border: 1px solid #FF6F61;
}
.page-link:hover{
    background-color: #FF6F61;
    color:#e6e6e5;
}
.page{
    width:79%;
    margin:0 auto;
}
.page ul{
   margin-left:550px;
}
.footer-warp{
    width: 100%;
    overflow: hidden;
    background-color: #302d2c;
}
.footer-warp>.footer{
    padding: 60px 80px 50px 80px;
    overflow: hidden;
    position: relative;
    min-width: 1800px;
}
.footer>.title{
    color: #c6b5a6;
    font-size: 22px;
    margin-bottom: 40px;
}
.ctn ul{
    display: block;
    float: left;
    overflow: hidden;
    width: 180px;
    margin-right: 20px;
}
.ctn ul li{
    display: block;
    margin: 10px 0;
    padding: 7px 0;
    border-bottom: 1px solid #423e3b;
    font-weight: normal;
}
.ctn ul li a{
    text-decoration:none;
    color:#c6b5a6;
}
#mendian{
    display: inline-block;
    font-size:17px;
    color:#fff;
    padding:23px 35px;
    border-radius:20px;
    background-color: #fe0000;
    margin-top:-8px;
    margin-left:2px;
}
#mendian:hover{
    background-color:#FF6F61;
}
.footer-ba-warp{
    width:100%;
    background-color:#2b2827;
    overflow: hidden;
    font-size: 12px;
    color: #c6b5a6;
}
.footer-ba{
    padding: 30px 80px 60px;
    font-weight: normal;
}
.footer-ba a{
    margin-top:15px;
    display:block;
    margin-bottom:15px;
}