.title{
    width:100%;
    background-color: #524ea2;
}
.title>.title-1{
    width:70%;
    height:85px;
    margin: 0 auto;
}
.title>.title-1 ul{
    list-style: none;
    display: flex;
    flex-direction:row;
	justify-content:space-around;
}
.title>.title-1 ul li{
    margin-top: 20px;
    width:170px;
    height:60px;
    text-align: center;
}
.title>.title-1 ul li a{
    color:white;
    font-size: 16px;
    text-decoration: none;
}
#lunbo{
    position:relative;
    cursor:pointer;
}
#lunbo>#zuo img{
    position:absolute;
    top:50%;
    left:30px;
    padding:10px;
    border-radius:5px;
    background-color:rgba(0,0,0,0.1);
    cursor:pointer;
}
#lunbo>#you img{
    position:absolute;
    top:50%;
    right:30px;
    padding:10px;
    border-radius:5px;
    background-color:rgba(0,0,0,0.2);
    cursor:pointer;
}
.seek{
    width:100%;
    height:60px;
}
.seek>.seek-1{
    width:630px;
    margin: 0 auto;
} 
.seek>.seek-1 input{
    margin-top:25px;
    width:560px;
    height:37px;
    padding-left:10px;
    border-radius: 10px;
}
.seek>.seek-1 button{
    width:70px;
    height:42px;
    background:#524ea2;
    color:white;
    outline: none;
    border-radius: 5px;
}
.exhibition{
    width:100%;
}
.exhibition-1{
    width:1516px;
    height:300px;
    margin:0 auto;
    margin-top:80px;
    position: relative;
}
.yincang1{
    width:758px;
    height:300px;
    float: left;
    overflow: hidden;
}
.yincang2{
    width:758px;
    height:300px;
    float: left;
    overflow: hidden;
}
.exhibition-1 img{
    width:758px;
    height:300px;
    float: left;
    Transition-duration:1s;
    Transition-timing-function:linear; 
}

.exhibition-2{
    width:1512px;
    height:600px;
    margin:0 auto; 
    position: relative;
}
.exhibition-2 img{
    width:378px;
    height:600px;
    float: left;
    Transition-duration:1s;
    Transition-timing-function:linear; 
}
.yincang3{
    width:378px;
    height:600px;
    float: left;
    overflow: hidden;
}
.yincang4{
    width:378px;
    height:600px;
    float: left;
    overflow: hidden;
}
.yincang5{
    width:378px;
    height:600px;
    float: left;
    overflow: hidden;
}
.yincang6{
    width:378px;
    height:600px;
    float: left;
    overflow: hidden;
}
.exhibition-1>.img1 img{
    position: absolute;
    top:138px;
    left:288px;
    width: 170px;
    height:95px;
}
.exhibition-1>.img2 img{
    position: absolute;
    top:138px;
    right:255px;
    width: 212px;
    height:95px;
}
.exhibition-2>.img3 img{
    position: absolute;
    top:258px;
    left:100px;
    width: 190px;
    height:95px;
}
.exhibition-2>.img4 img{
    position: absolute;
    top:258px;
    left:455px;
    width: 238px;
    height:95px;
}
.exhibition-2>.img5 img{
    position: absolute;
    top:258px;
    right:455px;
    width: 209px;
    height:95px;
}
.exhibition-2>.img6 img{
    position: absolute;
    top:258px;
    right:70px;
    width: 218px;
    height:113px;
}
.exhibition-1 img:hover{
    transform:scale(1.1);
}
.exhibition-2 img:hover{
    transform:scale(1.1);
}
.global{
    width:1103px;
    margin:0 auto;
    position: relative;
}
.global img{
    width:1103px;
    height:124px;
    margin-top:20px;
}
.global span{
    font-size: 26px;
    color:white;
    position: absolute;
    top:105px;
    left:450px;
}
.place{
    width:100%;
}
.place ul{
    width: 1231px;
    height:295px;
    margin:0 auto;
    list-style: none;
}
.place ul li{
    margin-top:30px;
}
.place ul li h3{
    font-size: 20px;
    display: inline;
    color: #524ea2;
    cursor: pointer;
    margin-right: 20px;    
}
.place ul li a{
    text-decoration: none;
    color:#666;
    border: 1px solid #ccc;
    padding: 6px 15px;
    border-radius: 5px;
    font-size: 14px;
}
.place ul li a:hover{
    background-color: #524ea2;
    color:#ddd;
}
.globa2{
    width:1103px;
    margin:0 auto;
    position: relative;
}
.globa2 img{
    width:1103px;
    height:124px;
    margin-top:20px;
}
.globa2 span{
    font-size: 26px;
    color:white;
    position: absolute;
    top:105px;
    left:498px;
}
.local{
    width:100%;
    margin-top:20px;
}
.local>.local-1{
    width:90%;
    margin: 0 auto;
}
.local ul{
    list-style: none;
    display:flex;
    flex-direction:row;
    justify-content:space-around; 
    margin-bottom: 50px; 
}
.local ul li{
    width:523px;
    height:300px;
    background-color: rgba(0, 0, 0, 0.1);
}
.local ul li div{
    width:523px;
    height:300px;
    overflow: hidden;
    border-radius: 10px;
}
.local ul li img{
    width:523px;
    height:300px;
    border-radius: 10px;
    cursor: pointer;
    Transition-duration:1s;
    Transition-timing-function:linear;
}
.local ul li img:hover{
    transform:scale(1.1);
}
.local ul li p{
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    color:#524ea2;
    cursor: pointer;
}
.more{
    width:100%;
    height:38px;
    border-bottom: 1px dotted #bbb;

}
.more span{
    display: block;
    width:376px;
    height:38px;
    background-color: #9a99b5;
    color:#fff;
    text-align: center;
    line-height: 38px;
    font-size:18px;
    float: left;
    margin-left:620px;
    cursor: pointer;
}
.more a{
    display: block;
    width:282px;
    height:38px;
    background-color: #c6a16a;
    color:#fff;
    line-height: 38px;
    font-size:18px;
    float: left;
    text-decoration: none;
    Transition-duration:0.5s;
    Transition-timing-function:linear;
    position: relative;
    padding-left:40px;
}
.more-1:hover a{
    cursor: pointer;
    background-color: #524ea2;
}
.more-1:hover img{
    right:30px;
}
.more a img{
    position: absolute;
    top:10px;
    right:50px;
    Transition-duration:0.5s;
    Transition-timing-function:linear;
}
.seles{
    width:1103px;
    margin:0 auto;
    position: relative;
}
.seles img{
    width:1103px;
    height:124px;
    margin-top:20px;
}
.seles span{
    font-size: 26px;
    color:white;
    position: absolute;
    top:105px;
    left:430px;
}
.hot{
    width:100%;
    height:38px;
    border-bottom: 1px dotted #bbb;

}
.hot span{
    display: block;
    width:376px;
    height:38px;
    background-color: #9a99b5;
    color:#fff;
    text-align: center;
    line-height: 38px;
    font-size:18px;
    float: left;
    margin-left:620px;
    cursor: pointer;
}
.hot a{
    display: block;
    width:282px;
    height:38px;
    background-color: #c6a16a;
    color:#fff;
    line-height: 38px;
    font-size:18px;
    float: left;
    text-decoration: none;
    Transition-duration:0.5s;
    Transition-timing-function:linear;
    position: relative;
    padding-left:20px;
}
.hot-1:hover a{
    cursor: pointer;
    background-color: #524ea2;
}
.hot-1:hover img{
    right:30px;
}
.hot a img{
    position: absolute;
    top:10px;
    right:50px;
    Transition-duration:0.5s;
    Transition-timing-function:linear;
}
.domestic{
    width:1103px;
    margin:0 auto;
    position: relative;
}
.domestic img{
    width:1103px;
    height:124px;
    margin-top:20px;
}
.domestic span{
    font-size: 26px;
    color:white;
    position: absolute;
    top:105px;
    left:498px;
}
.package{
    width:100%;
    height:38px;
    border-bottom: 1px dotted #bbb;

}
.package span{
    display: block;
    width:376px;
    height:38px;
    background-color: #9a99b5;
    color:#fff;
    text-align: center;
    line-height: 38px;
    font-size:18px;
    float: left;
    margin-left:620px;
    cursor: pointer;
}
.package a{
    display: block;
    width:282px;
    height:38px;
    background-color: #c6a16a;
    color:#fff;
    line-height: 38px;
    font-size:18px;
    float: left;
    text-decoration: none;
    Transition-duration:0.5s;
    Transition-timing-function:linear;
    position: relative;
    padding-left:20px;
}
.package-1:hover a{
    cursor: pointer;
    background-color: #524ea2;
}
.package-1:hover img{
    right:30px;
}
.package a img{
    position: absolute;
    top:10px;
    right:50px;
    Transition-duration:0.5s;
    Transition-timing-function:linear;
}
.map{
    width:100%;
    height:850px;
    text-align: center;
    background:url("../images/1B78EF67BD354681897E5B9A3A02F86C_1521427208231.jpg");
    /* background-size: 100% 100%; */
    position: relative;
}
.map>.maap>span>.map1{
    position: absolute;
    top:194px;
    left:437px;
}
.map>.maap>span>.map2{
    position: absolute;
    top:177px;
    left:697px;
}
.map>.maap>span>.map3{
    position: absolute;
    top:155px;
    left:720px;
}
.map>.maap>span>.map4{
    position: absolute;
    top:199px;
    left:715px;
}
.map>.maap>span>.map5{
    position: absolute;
    top:171px;
    left:747px;
}
.map>.maap>span>.map6{
    position: absolute;
    top:177px;
    left:728px;
}
.map>.maap>span>.map7{
    position: absolute;
    top:205px;
    left:859px;
}
.map>.maap>span>.map8{
    position: absolute;
    top:273px;
    left:875px;
}
.map>.maap>span>.map9{
    position: absolute;
    top:322px;
    left:747px;
}
.map>.maap>span>.map10{
    position: absolute;
    top:295px;
    left:792px;
}
.map>.maap>span>.map11{
    position: absolute;
    top:255px;
    left:1018px;
}
.map>.maap>span>.map12{
    position: absolute;
    top:280px;
    left:987px;
}
.map>.maap>span>.map13{
    position: absolute;
    top:310px;
    left:1007px;
}
.map>.maap>span>.map14{
    position: absolute;
    top:322px;
    left:987px;
}
.map>.maap>span>.map15{
    position: absolute;
    top:328px;
    left:922px;
}
.map>.maap>span>.map16{
    position: absolute;
    top:558px;
    left:1046px;
}
.map>.maap>span>.map17{
    position: absolute;
    top:339px;
    right:535px;
}
.map>.maap>span>.map18{
    position: absolute;
    top:319px;
    right:549px;
}
.map>.maap>span>.map19{
    position: absolute;
    top:357px;
    right:460px;
}
.map>.maap>span>.map20{
    position: absolute;
    top:342px;
    right:431px;
}
.map>.maap>span>.map21{
    position: absolute;
    top:324px;
    right:405px;
}
.map>.maap>span>.map22{
    position: absolute;
    top:291px;
    right:386px;
}
.map>.maap>span>.map23{
    position: absolute;
    top:160px;
    right:366px;
}
.map>.maap>span>.map24{
    position: absolute;
    top:202px;
    right:374px;
}
.map>.maap>span>.map25{
    position: absolute;
    top:339px;
    right:364px;
}
.map>.maap>span>.map26{
    position: absolute;
    top:181px;
    right:408px;
}
.map>.maap>span>.map27{
    position: absolute;
    top:245px;
    right:384px;
}
.map>.maap>span>.map28{
    position: absolute;
    top:111px;
    right:384px;
}
.map>.maap>span>.map29{
    position: absolute;
    top:246px;
    right:433px;
}
.maap{
    /* width:100%;
    height:850px; */
    /* position: relative;
    top:-100px; */
    /* visibility: hidden; */
    /* transition: all 0.5s linear;
    transform: translate3d(0,-100%,50%); */
    position: relative;
    height: 0px;
    overflow: hidden;
    top: 200px;
}
/* .map:hover .maap{
    top:0px;
    visibility:visible;
} */
.footer-warp{
    width: 100%;
    overflow: hidden;
    background-color: #302d2c;
}
.footer-warp>.footer{
    padding: 60px 80px 50px 80px;
    overflow: hidden;
    position: relative;
    min-width: 1800px;
}
.footer>.title{
    color: #c6b5a6;
    font-size: 22px;
    margin-bottom: 40px;
    background-color: #302d2c;
}
.ctn ul{
    display: block;
    float: left;
    overflow: hidden;
    width: 180px;
    margin-right: 20px;
}
.ctn ul li{
    display: block;
    margin: 10px 0;
    padding: 7px 0;
    border-bottom: 1px solid #423e3b;
    font-weight: normal;
}
.ctn ul li a{
    text-decoration:none;
    color:#c6b5a6;
}
#mendian{
    display: inline-block;
    font-size:17px;
    color:#fff;
    padding:23px 35px;
    border-radius:20px;
    background-color: #fe0000;
    margin-top:-8px;
    margin-left:2px;
}
#mendian:hover{
    background-color:#FF6F61;
}
.footer-ba-warp{
    width:100%;
    background-color:#2b2827;
    overflow: hidden;
    font-size: 12px;
    color: #c6b5a6;
}
.footer-ba{
    padding: 30px 80px 60px;
    font-weight: normal;
}
.footer-ba a{
    margin-top:15px;
    display:block;
    margin-bottom:15px;
}